#!/usr/bin/env sh
# https://wiki.archlinux.org/index.php/Xprofile
# https://wiki.archlinux.org/index.php/Autostarting
# This file runs when a DM logs you into a graphical session.

# loads ~/.nvidia-settings.rc
# nvidia-settings --load-config-only

remaps &          # keyboard key remapping
dunst &           # dunst for notifications
unclutter &       # remove mouse when idle
redshift &
setbg &           # set wallpaper
connect-2-monitors-h # 10-monitor.conf is not working. This will show extra flicker on startup
run_xidlehook &   # lock system if idle

# notify-send -i ~/.local/share/welcome.png "Welcome to Legion"
notify-send "Welcome to Legion"

mute-mic

sleep 1 && chromium &
sleep 1 && "$TERMINAL" &


# dwmbar &          # runs dwm bar



